@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Montserrat:wght@400;600&family=Poppins:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
h1,h2,h3{
        font-family: 'Baloo 2', cursive;
        font-size: 2em;
}
p, button, small{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.6;
    margin: 5px 0;
    letter-spacing: 1px;
    font-size:14px;
    
}
body{
    background-color: #E1E5F2;
    color: #05181f;
}
.icon{
    color: #05181f;
    border: 1px solid #05181f;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
}
.icon:hover{
    background-color:#05181f ;
    color: #E1E5F2;
    transition:0.3s;
}
.portfolio-img{
  height: 240px; 
  width: 100%;  
  object-fit: cover;
  object-position: 0% 0%;
}
a{
    text-decoration: none;
    color: inherit;
}
a h4:hover{
    color: #05181f;
    text-decoration: underline;
}